@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text: 0, 0, 0;
  --color-background: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: 255, 255, 255;
    --color-background: 0, 0, 0 / 0;
  }
}

body {
  color: rgb(var(--color-text));
  background: rgb(var(--color-background));
}

& {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
&::-webkit-scrollbar { 
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
